_MAXOSX
catboost_info
heart_disease_data
__init__.py
Handling_missing_values.ipynb
Heart 3.ipynb
Heart_con_teoria.ipynb
Traduccion_guia.ipynb
resultados_modelos_ordenados.csv
resultados_modelos.csv
uci_data_cleaned.csv
uci_data_imputado.csv